.main-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 500px;
}

.form__element {
    height: 20px;
}

.text-area {
    height: 100px;
    margin: 0 0 50px;
}

.submit-button {
    min-width: 50px;
    padding: 10px;
}

.error {
    border-color: red;
}